html {
    font-family:"rooney-web",sans-serif;
    color: dimgray;
}

.header {
    text-align: center;
    width: 800px;
    margin: 0 auto;
    position: relative;
    float: left;
    padding: 10px;
    border: 4px solid  #6c6c6c;
}

.nametag {
    display: block;
    margin: 7px;
}

div.cool-links {
    float: right !important;
}

div.cool-links a {
    display:block;
    text-align:center;
}

.projects {
    /*background: rgb(0, 0, 0); *//* fallback color */
    /*background: rgba(215, 169, 98, 0.5);*/
    margin-bottom: 16px;
    padding-left: 10px;
    padding-top: 1px;
    padding-bottom: 1px;
    border: 4px solid  #6c6c6c;
    overflow: hidden
}

.projects h1 {
    padding-top: 5px;
}

.page_wrapper {
    width: 800px;
    margin: 0 auto;
}

.body_wrapper {
    max-width: 100%;
    text-align: left;
    padding-top: 50px;
    clear: both;
}

.projects_wrapper {
    padding-top: 50px;
    max-width: 100%;
    min-width: 500px;
    text-align: left;
}

.menu-item {
    margin-left: 5px;
    margin-right: 5px;
    border: 3px;
    position: relative;
    display: inline-block;
    float: right;
}

.menu-item > a {
    text-decoration: none;
    display: inline-block;
    color: #6c6c6c;
    border: 3px solid #6c6c6c;
    font-weight: bold;
    padding: 2px 5px;
}

.menu-item a:hover {
  color: #fff;
  background: #6c6c6c;
  text-decoration: none;
}

.title-img {
    height: 100px;
    float: left;
}

div.body-links {
    float: left;
    display: inline-block;
}

div.body-links a {
    display:block;
    text-align:center;
}
