html {
    font-family:"rooney-web",sans-serif;
    color: dimgray;
}

.header {
    text-align: center;
    font: bold 36px/45px; /*Helvetica, Sans-Serif;*/
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.1);
    padding-top: 5px;
    padding-bottom: 10px;
    width: 100%;
}

.nametag {
    margin: 7px;
}

div.my-shit {
    display:table;
    width:100%;
    table-layout: fixed;
}

div.my-shit a {
    display:table-cell;
    text-align:center;
}

.projects {
    background: rgb(0, 0, 0); /* fallback color */
    background: rgba(0, 0, 0, 0.1);
    padding: 8px;
    margin-bottom: 10px;
}

.page_wrapper {
    width: 800px;
    margin: 0 auto;
}

.body_wrapper {
    max-width: 100%;
    text-align: left;
}

.projects_wrapper {
    max-width: 100%;
    min-width: 500px;
    text-align: left;
}
