{% extends "new_lander.html" %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="/css/chinese.css">
{% endblock extra_css %}

{% block scripts %}
{% endblock scripts %}

{% block main_outside_container %}
    <div class="intro container">
        <h2>My Time in Shanghai Post-Graduation</h2>
    </div>

    <div class="container">
        <p>I started studying Chinese since Fall 2014 and since then my tepid interest has blossomed into a full-blown
            passion.</p>
        <p> I have invested a non-trivial percentage of my life into studying Chinese so I want
            to make sure that I position myself to make the most of that time investment. To that end, I moved to China
            after graduating in May 2017 so that I could better explore China's possibilities.</p>
        <h3>Wednesday Update Email</h3>
        <p>I send out an email every Wednesday with a quick update on what I've been up to and thinking about. If you would
            like to stay up to date on my meanderings, please sign up below.</p>
        <p>I hate spam more than you do so you'll never get anything but an update email from me. Thanks!</p>
        <div class="sign-up-button-wrapper">
            <a class="sign-up-button" href="http://eepurl.com/bo94lT">Sign-Up for Cool China Emails!</a>
        </div>
    </div>

{% endblock %}