{% extends "new_lander.html" %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="/css/chinese.css">
{% endblock extra_css %}

{% block scripts %}
{% endblock scripts %}

{% block main_outside_container %}
    <div class="intro container">
        <h1>Studying Chinese</h1>
    </div>

    <div class="container">
        <p>I have been studying Chinese since Fall 2014, and I have had a lot of trouble getting started.
            This portion of my site is all about connecting Chinese language learners with resources and
            tools to help them learn faster.</p>
    </div>
    <div class="overhead container">
        <h2>Pinyin</h2>
        <p>The pinyin writing system is the backbone of the </p>
    </div>

{% endblock %}