{% extends "new_lander.html" %}

{% block extra_css %}
    <link rel="stylesheet" type="text/css" href="/css/chinese.css">
{% endblock extra_css %}

{% block scripts %}
{% endblock scripts %}

{% block main_outside_container %}
    <div class="intro container">
        <h2>My Time in Shanghai Post-Graduation</h2>
    </div>
    <div class="container">
        <p>I started studying Chinese since Fall 2014 and since then my tepid interest has blossomed into a full-blown
            passion.</p>
        <p> I have invested a non-trivial percentage of my life into studying Chinese so I want
            to make sure that I position myself to make the most of that time investment. To that end, I moved to China
            after graduating in May 2017 so that I could better explore China's possibilities.</p>
        <h3>Wednesday Update Email</h3>
        <p>I send out an email every Wednesday with a quick update on what I've been up to and thinking about. If you would
            like to stay up to date on my meanderings, please sign up below.</p>
        <p>I hate spam more than you do so you'll never get anything but an update email from me. Thanks!</p>
        <div class="sign-up-button-wrapper">
            <a class="sign-up-button" href="http://eepurl.com/bo94lT">Sign-Up for Cool China Emails!</a>
        </div>
    </div>
    <div class="container">
        <h2>Past Emails</h2>
        <ul> 
            <li><a href="http://mailchi.mp/25efec9756c8/10-xiami-the-music-streaming-app-you-never-knew-you-needed-1758337">11 - Merry Christmas from Shanghai: Sorry for the delay</a></li>
            <li><a href="https://us11.campaign-archive.com/?u=8cc51bc50a27cc0a3ea6839d6&id=5414343e98">10 - Xiami: The Music Streaming app you never knew you needed</a></li>
            <li><a href="http://mailchi.mp/eb6a5761652d/08-a-quest-for-decent-coffee">08 - The Quest for Decent Coffee</a></li>
            <li><a href="http://mailchi.mp/a4b26e1b7b50/07-korea-was-great-fun">07 - Korea was Great Fun</a></li>
            <li><a href="http://mailchi.mp/210c9d5e924c/i-didnt-write-because-i-was-in-chinese-prison-1558489">06 - 海底捞 is the Best</a></li>
            <li><a href="http://mailchi.mp/9b6b5afb3e80/i-didnt-write-because-i-was-in-chinese-prison">05 - I DIDN'T WRITE BECAUSE I WAS IN CHINESE PRISON
                </a></li>
            <li><a href="http://mailchi.mp/210c9d5e924c/i-didnt-write-because-i-was-in-chinese-prison-1558489">04 - Startup Life and a GREAT Boat Ride</a></li>
            <li><a href="http://mailchi.mp/39e1c80c40f8/shanghai-update-03-big-changes">03 - Big Changes</a></li>
            <li><a href="http://mailchi.mp/b538280f2e82/wednesday-shanghai-update-02">02 - Second Update Email</a></li>
            <li><a href="http://mailchi.mp/79ccb8e30f18/shanghai-updates-week-1">01 - First Update Email!</a></li>
        </ul>
    </div>

{% endblock %}
