<html>

    <head>
        <title>Timothy Blumberg</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />

    </head>

    <body>

        <div class="page_wrapper">

            <div class="header">
                <img class="title-img" src="/img/timothyblumberg.png"/>
                <div class="cool-links">
                    <ul>
                        <li class="menu-item">
                            <a href="https://www.behance.net/timothyblumberg">Behance</a><br>
                        </li>
                        <li class="menu-item">
                            <a href="https://github.com/TimelyToga">Github</a><br>
                        </li>
                        <li class="menu-item">
                            <a href="https://medium.com/@Tim_Blumberg">My blog on Medium</a>
                        </li>
                        <li class="menu-item">
                            <a class="email-button" href="mailto:tblumberg39@gmail.com?Subject=Interested">Email Me</a>
                        </li>
                        <li class="menu-item">
                            <a class="email-button" href="https://twitter.com/Tim_Blumberg">Twitter</a>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="body_wrapper">
                <div class="about-me">
                    <h1>About Me</h1>
                    <p>I am currently a student at Duke University who has grand aspirations of changing the world. I am
                        studying Computer Science and Finance. I am an aspiring entrepreneur that is doing my best to
                        learn all that there is to learn in the world.
                    </p>
                    <p>
                        My digital resume is below for your viewing pleasure.
                    </p>
                </div>
            </div>
            <div class="projects_wrapper">
                <h1 class="projects_title">Projects / Work Experience / Accomplishments</h1>
                    <div class="projects">
                        <div class="project_info">
                            <h2 class="project_title">Camoji</h2>
                            <h3 class="project_short_desc">Create and Share reaction gifs easily.</h3>
                            <h3 class="project_time">Summer 2014</h3>
                        </div>
                        <div class="project_body">
                            <p class="project_desc">
                                Camoji is a content creation tool that allows you to record gifs and easily send or
                                share them with friends. Camoji relies heavily upon gestures for app navigation. Swiping
                                in each cardinal direction performs an action (Share, Delete, Back to Camera, Send). I
                                specifically worked on the web-server.
                            </p>

                        </div>

                        <div class="body-links">
                            <ul>
                                <li class="menu-item">
                                    <a href="https://itunes.apple.com/us/app/camoji-gif-camera/id905080931?mt=8">App Store</a><br>
                                </li>
                                <li class="menu-item">
                                    <a href="https://github.com/TimelyToga">Github</a><br>
                                </li>
                                <li class="menu-item">
                                    <a href="https://camoji.com/c/BddcTNqYzPGtrmf">Example Camoji</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="projects">
                        <div class="project_info">
                            <h2 class="project_title">LearnThings</h2>
                            <h3 class="project_short_desc">An app that quietly teaches you.</h3>
                            <h3 class="project_time">July 2014</h3>
                        </div>
                        <div class="project_body">
                            <p class="project_desc">LearnThings allows you to study over an extended period of time.
                                Instead of cramming for a large chunk of time before an exam, one could use LearnThings
                                to space things out. LearnThings uses notifications to ask you questions, which you can
                                directly interact with, or tap through to grade yourself. LearnThings is at most two taps
                                per interaction, so the experience is left light. You can tell LearnThings when you are
                                available so that you will only get asked questions within that timeframe.
                            </p>

                            <div class="body-links">
                                <ul>
                                    <li class="menu-item">
                                        <a href="https://play.google.com/store/apps/details?id=com.timothyblumberg.autodidacticism.learnthings">Play Store</a><br>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="projects">
                        <div class="project_info">
                            <h2 class="project_title">Intern at Leo</h2>
                            <h3 class="project_short_desc">I was an Android Engineer and Server Engineer and iOS Engineer</h3>
                            <h3 class="project_time">Spring 2014 - Fall 2014</h3>
                        </div>
                        <div class="project_body">
                            <p class="project_desc">I began working as a part-time Android contract programmer during
                                school, and came on board full time for the summer. During this summer I decided to become
                                an entrepreneur.</p>
                        </div>
                    </div>

                    <div class="projects">
                        <div class="project_info">
                            <h2 class="project_title">Fratspeak</h2>
                            <h3 class="project_short_desc">Generate random sentences in the style of Fratboys</h3>
                            <h3 class="project_time">Spring 2014</h3>
                        </div>
                        <div class="project_body">
                            <p class="project_desc">
                                Fratspeak is a project that I threw together with a couple friends over a weekend that
                                uses some boring technology to generate sentences "in the style" of fratstars. For the
                                most part, these sentences entirely lack any inkling of orthology or general sentence syntax.
                            </p>

                            <div class="body-links">
                                <ul>
                                    <li class="menu-item">
                                        <a href="http://www.fratspeak.com/">Fratspeak</a><br>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="projects">
                        <div class="project_info">
                            <h2 class="project_title">BetterConfab</h2>
                            <h3 class="project_short_desc">Android App to stimulate better conversations with strangers</h3>
                            <h3 class="project_time">Winter 2013</h3>
                        </div>
                        <div class="project_body">
                            <p class="project_desc">
                                I wrote this app because I abhor small talk. I hate to waste time with conversation
                                topics in which I have very little chance of gleaning any information of worth from because
                                they lack the complexity to imbue it. BetterConfab is meant to be a tool with which you
                                can unlock more interesting conversation with people you don't know...yet.
                            </p>

                             <div class="body-links">
                                <ul>
                                    <li class="menu-item">
                                        <a href="https://play.google.com/store/apps/details?id=tsb.timely.toga.BetterConfab">Play Store</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </body>

</html>