<html>

    <head>
        <title>Timothy Blumberg</title>

        <link rel="stylesheet" href="/css/main.css">

    </head>

    <body>
        <h1 class="header">Timothy Blumberg</h1>
        <p>I am a student at Duke University who is very interested in entrepreneurship. If you are interested in
            contacting me, please shoot me an
            <a class="email-button" href="mailto:tblumberg39@gmail.com?Subject=Interested">email</a>
        </p>
        <p>
            Otherwise, please feel free to look over my accomplishments, projects, and work experience:
        </p>
        <h1 class="projects_title">Projects / Work Experience / Accomplishments</h1>
            <div class="projects">
                <div class="project_info">
                    <h2 class="project_title">Intern at Leo</h2>
                    <h3 class="project_short_desc">I was an Android Engineer and Server Engineer</h3>
                    <h3 class="project_time">Spring 2014 - Fall 2014</h3>
                </div>
                <div class="project_body">
                    <p class="project_desc">I began working as a part-time Android contract programmer during school, and
                    came on board full time for the summer.</p>
                </div>
            </div>

            <div class="projects">
                <div class="project_info">
                    <h2 class="project_title">Fratspeak</h2>
                    <h3 class="project_short_desc">Generate random sentences in the style of Fratboys</h3>
                    <h3 class="project_time">Spring 2014</h3>
                </div>
                <div class="project_body">
                    <p class="project_desc">
                        <a href="www.fratspeak.com">Link</a>
                    </p>
                </div>
            </div>

            <div class="projects">
                <div class="project_info">
                    <h2 class="project_title">BetterConfab</h2>
                    <h3 class="project_short_desc">Android App to stimulate better conversations with strangers</h3>
                    <h3 class="project_time">Winter 2013</h3>
                </div>
                <div class="project_body">
                    <p class="project_desc">
                        <a href="https://play.google.com/store/apps/details?id=tsb.timely.toga.BetterConfab">Link</a>
                    </p>
                </div>
            </div>
    </body>

</html>