<html>

    <head>
        <title>Timothy Blumberg</title>
        <link rel="stylesheet" type="text/css" href="/css/main.css">
        <link rel='shortcut icon' type='image/x-icon' href='/favicon.ico' />
        <link href='http://fonts.googleapis.com/css?family=Raleway:400,800' rel='stylesheet' type='text/css'>
        <script src="/js/main.js"></script>
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-58171797-1', 'auto');
          ga('send', 'pageview');

        </script>
    </head>

    <body>
        <div id="logo_wrapper" class="logo_wrapper">
            <img id="personal_logo" class="logo" src="/img/TB_V2.0.0-01.png"/>

            <div id="you_should_click">
                <h2>Click to Enter</h2>
            </div>
        </div>

        <div id="bod_wrapper">

            <div class="header">
                <div class="header-column" id="image-column">
                    <img class="title-img" src="/img/lilTB_V2.0.0_black.png"/>
                    <h3 id="header_name">TIMOTHY BLUMBERG</h3>
                </div>
                <div class="header-column" id="links-column">
                    <div class="cool-links-container">
                            <div class="hmen-item col-1-4">
                                <a href="https://www.behance.net/timothyblumberg">BEHANCE</a><br>
                            </div>
                            <div class="hmen-item col-1-4">
                                <a href="https://github.com/TimelyToga">GITHUB</a><br>
                            </div>
                            <div class="hmen-item col-1-4">
                                <a href="https://medium.com/@Tim_Blumberg">BLOG</a>
                            </div>
                            <div class="hmen-item col-1-4">
                                <a class="email-button" href="mailto:tblumberg39@gmail.com?Subject=Interested">EMAIL ME</a>
                            </div>
                            <div class="hmen-item col-1-4">
                                <a class="email-button" href="https://twitter.com/Tim_Blumberg">TWITTER</a>
                            </div>
                    </div>
                </div>
            </div>

            <div class="page_wrapper">

            <div class="body_wrapper">
                <div class="about-me">

                    <div>
                        <h1>ABOUT ME</h1>
                        <p>I am currently a student at Duke University who has grand aspirations of changing the world. I am
                            studying Computer Science, but I also have a strong interest in all things design. I am an aspiring
                            entrepreneur that is doing my best to learn all that there is to learn in the world.
                        </p>
                    </div>

                    <div>
                        <br>
                        <h1>SKILLS</h1>
                            <div class="skills_container">
                                <span class="skills_title">Programming Languages: In order of Comfortability</span>
                                <ul class="skills_list">
                                    <li class="sl_item">
                                        <a href="https://github.com/TimelyToga/eco_hunt">
                                            Java
                                        </a>
                                    </li>
                                    <li class="sl_item">
                                        <a href="https://github.com/TimelyToga/hackertyperclone">
                                            Python
                                        </a>
                                    </li>
                                    <li class="sl_item">Matlab</li>
                                    <li class="sl_item">
                                        <a href="#camoji">
                                            SQL
                                        </a>
                                    </li>
                                    <li class="sl_item">C/C++</li>
                                    <li class="sl_item">
                                        <a href="https://github.com/TimelyToga/hackertyperclone/tree/master/static/js">
                                            Javascript
                                        </a>
                                    </li>
                                    <li class="sl_item">Racket (variant of LISP)</li>
                                </ul>
                            </div>
                            <div class="skills_container">
                                <span class="skills_title">Technical Knowledge Areas</span>
                                <ul class="skills_list">
                                    <li class="sl_item">
                                        <a href="#hacker_typer">
                                            Django
                                        </a>
                                    </li>
                                    <li class="sl_item">
                                        <a href="https://medium.com/@Tim_Blumberg/how-to-clone-hackertyper-db0a472212f6">
                                            Web-app Design
                                        </a>
                                    </li>
                                    <li class="sl_item">
                                        Computer Vision
                                    </li>
                                    <li class="sl_item">
                                        <a href="https://play.google.com/store/apps/developer?id=Timothy+Blumberg">
                                            Android
                                        </a>
                                    </li>
                                    <li class="sl_item">iOS</li>
                                    <li class="sl_item">
                                        <a href="#IBM_WATSON">
                                            Machine Learning
                                        </a>
                                    </li>
                                    <li class="sl_item">Linux</li>
                                    <li class="sl_item">
                                        <a href="#camoji">
                                            API Design
                                        </a>
                                    </li>
                                    <li class="sl_item">
                                        <a href="https://github.com/TimelyToga/upload_s3">
                                            AWS/S3
                                        </a>
                                    </li>
                                    <li class="sl_item">
                                        <a href="#red_crane">
                                            Entrepreneurship
                                        </a>
                                    </li>
                                    <li class="sl_item">
                                        <a href="#duke_dir">
                                            Data Scraping
                                        </a>
                                    </li>
                                    <li class="sl_item">
                                        Git
                                    </li>
                                    <li class="sl_item">
                                        LaTeX
                                    </li>
                                </ul>
                            </div>
                    </div>
                    <br>
                    <p>
                        My digital resume is below for your viewing pleasure.
                    </p>
                </div>
            </div>
            <div class="projects_wrapper">
                <h1 class="projects_title">PROJECTS / WORK EXPERIENCE / ACCOMPLISHMENTS</h1>

                <div class="projects" id="hacker_typer">
                    <div class="project_info">
                        <h2 class="project_title">HackerTyper Clone</h2>
                        <h3 class="project_short_desc">Created a Clone of the Popular HackerTyper Website</h3>
                        <h3 class="project_time">October 2015</h3>
                    </div>
                    <div class="project_body">
                        <p class="project_desc">
                            I spent a weekend creating a clone of this fun little website. The premise is
                            that you type whatever you like and code is streamed to the screen at an alarming rate.
                            It is supposed to personify all the terrible misconceptions that Hollywood has
                            given people for what hacking actually looks like. Original uses same code every time,
                            while my version randomly generates the code based on code grammars that I wrote.
                        </p>

                        <div class="body-links-container">
                             <ul class="body-links-list">
                                <li class="body-menu-item">
                                    <a href="https://github.com/TimelyToga/hackertyperclone">GitHub</a>                                    </li>
                                <li class="body-menu-item">
                                    <a href="http://hackertyperclone.herokuapp.com/">Link</a>
                                </li>
                                <li class="body-menu-item">
                                    <a href="https://medium.com/@Tim_Blumberg/how-to-clone-hackertyper-db0a472212f6">Blog Post</a>
                                </li>
                                <li class="body-menu-item">
                                    <a href="http://hackertyper.com/">Original</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="projects">
                    <div class="project_info">
                        <h2 class="project_title">Went to China</h2>
                        <h3 class="project_short_desc">Studying 中文 (Chinese)</h3>
                        <h3 class="project_time">Summer 2015</h3>
                    </div>
                    <div class="project_body">
                        <p class="project_desc">
                            Taking the summer to sharpen my Chinese skills at the at the University of International
                            Business and Economics in Beijing (北京). I am enrolled in Duke's Study In China Program (DSIC),
                            which will count as my 2nd year of Chinese language study.
                        </p>

                        <div class="body-links-container">
                                <div class="body-menu-item col-1-4">
                                    <a href="http://timothyblumberg.us11.list-manage1.com/subscribe?u=8cc51bc50a27cc0a3ea6839d6&id=76fa709312">Email Updates Signups</a>
                                </div>
                        </div>
                    </div>
                </div>
                <div class="projects" id="duke_dir">
                    <div class="project_info">
                        <h2 class="project_title">Duke Directory Web Scraping</h2>
                        <h3 class="project_short_desc">Created Omnibus list of Duke Faculty</h3>
                        <h3 class="project_time">May 2015</h3>
                    </div>
                    <div class="project_body">
                        <p class="project_desc">
                            I was contracted by a friend of mine to create a single list of every Duke faculty member,
                            regardless of department, because surprisingly enough, this did not exist already in an easily
                            accessible way. I used BeautifulSoup4 in Python to scrape the data, and stored it in a csv file.
                        </p>

                        <div class="body-links-container">
                                <div class="body-menu-item col-1-4">
                                    <a href="https://github.com/TimelyToga/duke_dir">DukeDir GitHub</a>
                                </div>
                        </div>
                    </div>
                </div>
               <div class="projects" id="red_crane">
                        <div class="project_info">
                            <h2 class="project_title">Founded RedCranePrints</h2>
                            <h3 class="project_short_desc">Started a Fine Art Printing Company</h3>
                            <h3 class="project_time">January 2015</h3>
                        </div>
                        <div class="project_body">
                            <p class="project_desc">
                                I founded a printing company with the intent to provide new artists with a way to easily
                                break into the realm of selling their art. No need to handle manufacturing or distribution
                                only create beautiful things.

                                More to come.
                            </p>

                            <div class="body-links-container">
                                <ul class="body-links-list">
                                    <li class="body-menu-item">
                                        <a href="https://drive.google.com/open?id=0B4V8b27yh1SMcnhDME1nbXhHSWc">Post-Mortem Doc</a>
                                    </li>
                                    <li class="body-menu-item">
                                        <a href="https://www.etsy.com/shop/RedCranePrints">Shop on Etsy</a><br>
                                    </li>
                                    <li class="body-menu-item">
                                        <a href="https://www.facebook.com/RedCranePrints">Facebook Page</a>
                                    </li>
                                    <li class="body-menu-item">
                                        <a href="https://www.etsy.com/shop/RedCranePrints/about">About Page</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                <div class="projects" id="IBM_WATSON">
                        <div class="project_info">
                            <h2 class="project_title">Using IBM Watson to Discern How My Personality Evolved</h2>
                            <h3 class="project_short_desc">I analyzed my journal entries using IBM Watson to detect how I evolved</h3>
                            <h3 class="project_time">December 2014</h3>
                        </div>
                        <div class="project_body">
                            <p class="project_desc">
                                I recently found a demo of IBM Watson's User Modeling and decided to see if I could harness
                                this tech demo to analyze my own personality. I have kept a digital journal since 2011, so
                                I had a large amount of data available to analyze, so I extracted the text of journal entries
                                by year and submitted them to the analytical eye of Watson. I wrote a pretty detailed blog post
                                about my process and results. Most interestingly, I found that as I developed into an adult,
                                I didn't develop new characteristics really. But rather, I pruned out certain characteristics
                                and marginally advanced others. So my strongest traits became stronger and I completely deleted
                                certain other traits out of my personality all together. Overall this was one of the most informative
                                technical investigations I have ever done because it taught me a lot about myself.
                            </p>

                            <div class="body-links-container">
                                <ul class="body-links-list">
                                    <li class="body-menu-item">
                                        <a href="https://medium.com/@Tim_Blumberg/how-i-used-ibm-watson-to-analyze-my-journal-entries-to-learn-how-my-personality-evolved-3d944a4b856d">Blog Post</a><br>
                                    </li>
                                    <li class="body-menu-item">
                                        <a href="http://watson-um-demo.mybluemix.net/">IBM Watson Demo</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="projects">
                        <div class="project_info">
                            <h2 class="project_title">WikiQuiz</h2>
                            <h3 class="project_short_desc">Generate quizzes from Wikipedia Articles</h3>
                            <h3 class="project_time">Winter 2014</h3>
                        </div>
                        <div class="project_body">
                            <p class="project_desc">
                                WikiQuiz was my entry into <a href="http://www.hackduke.com/">HackDuke's</a> 2014 Education
                                category. WikiQuiz is the embodiment of a very long running project of mine to figure out
                                how to extract the most salient objective facts from a corpus of text. In this case I do so
                                by a combination of a number of methods chief of which is some basic NLP feature extraction
                                using nltk. I believe that if the process of extracting the important and objective thoughts
                                from a body of text is one of greatest challenges that technology is facing today.
                                I began development at HackDuke and have since been making modifications to better the
                                question generation.
                            </p>

                            <div class="body-links-container">
                                <ul class="body-links-list">
                                    <li class="body-menu-item">
                                        <a href="http://wikiquiz.herokuapp.com/">WikiQuiz</a><br>
                                    </li>
                                    <li class="body-menu-item">
                                        <a href="http://wikiquiz.herokuapp.com/w/Louis_XIV_of_France">Louis XIV WikiQuiz</a>
                                    </li>
                                    <li class="body-menu-item">
                                        <a href="https://medium.com/@Tim_Blumberg/some-things-i-have-learned-making-an-app-to-teach-ca6560843fa8">Relevant Blog Post</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="projects">
                        <div class="project_info">
                            <h2 class="project_title">LearnThings</h2>
                            <h3 class="project_short_desc">An app that quietly teaches you.</h3>
                            <h3 class="project_time">July 2014 - Present</h3>
                        </div>
                        <div class="project_body">
                            <p class="project_desc">LearnThings is a studying app built for procrastinators.
                                Instead of cramming for a single continuous chunk of time before an exam, one could use LearnThings
                                to space that studying time out over several weeks. LearnThings uses notifications to
                                passively ask you questions, which you can directly interact with, or tap through
                                to grade yourself. LearnThings is at most two taps
                                per interaction, so the experience is left light. You can tell LearnThings when you are
                                available so that you will only get asked questions within that time frame.
                            </p>

                            <div class="body-links-container">
                                <ul class="body-links-list">
                                    <li class="body-menu-item">
                                        <a href="https://play.google.com/store/apps/details?id=com.timothyblumberg.autodidacticism.learnthings">Play Store</a><br>
                                    </li>
                                    <li class="body-menu-item">
                                        <a href="https://medium.com/@Tim_Blumberg/some-things-i-have-learned-making-an-app-to-teach-ca6560843fa8">Blog Post</a>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="projects" id="camoji">
                        <div class="project_info">
                            <h2 class="project_title">Camoji</h2>
                            <h3 class="project_short_desc">Create and Share reaction gifs easily.</h3>
                            <h3 class="project_time">Summer 2014</h3>
                        </div>
                        <div class="project_body">
                            <p class="project_desc">
                                Camoji is a content creation tool that allows you to record gifs and easily send or
                                share them with friends. Camoji relies heavily upon gestures for app navigation. Swiping
                                in each cardinal direction performs an action (Share, Delete, Back to Camera, Send). I
                                specifically worked on the web-server.
                            </p>

                        </div>

                        <div class="body-links-container">
                            <ul class="body-links-list">
                                <li class="body-menu-item">
                                    <a href="https://itunes.apple.com/us/app/camoji-gif-camera/id905080931?mt=8">App Store</a><br>
                                </li>
                                <li class="body-menu-item">
                                    <a href="https://github.com/TimelyToga">Github</a><br>
                                </li>
                                <li class="body-menu-item">
                                    <a href="https://camoji.com/c/BddcTNqYzPGtrmf">Example Camoji</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="projects">
                        <div class="project_info">
                            <h2 class="project_title">Intern at Leo / Camoji</h2>
                            <h3 class="project_short_desc">I was an Android Engineer and Server Engineer and iOS Engineer</h3>
                            <h3 class="project_time">Spring 2014 - Fall 2014</h3>
                        </div>
                        <div class="project_body">
                            <p class="project_desc">I began working as a part-time Android contract programmer during
                                school, and came on board full time for the summer. During this summer I decided to become
                                an entrepreneur.</p>
                        </div>
                    </div>

                    <div class="projects">
                        <div class="project_info">
                            <h2 class="project_title">Fratspeak</h2>
                            <h3 class="project_short_desc">Generate random sentences in the style of Fratboys</h3>
                            <h3 class="project_time">Spring 2014</h3>
                        </div>
                        <div class="project_body">
                            <p class="project_desc">
                                Fratspeak is a project that I threw together with a couple friends over a weekend that
                                uses some boring technology to generate sentences "in the style" of fratstars. For the
                                most part, these sentences entirely lack any inkling of orthology or general sentence syntax.
                            </p>

                            <div class="body-links-container">
                                <ul class="body-links-list">
                                    <li class="body-menu-item">
                                        <a href="http://fratspeak.herokuapp.com/">Fratspeak</a><br>
                                    </li>

                                </ul>
                            </div>
                        </div>
                    </div>

                    <div class="projects">
                        <div class="project_info">
                            <h2 class="project_title">BetterConfab</h2>
                            <h3 class="project_short_desc">Android App to stimulate better conversations with strangers</h3>
                            <h3 class="project_time">Winter 2013</h3>
                        </div>
                        <div class="project_body">
                            <p class="project_desc">
                                I wrote this app because I abhor small talk. I hate to waste time with conversation
                                topics in which I have very little chance of gleaning any information of worth from because
                                they lack the complexity to imbue it. BetterConfab is meant to be a tool with which you
                                can unlock more interesting conversation with people you don't know...yet.
                            </p>
                        </div>

                         <div class="body-links-container">
                            <ul class="body-links-list">
                                <li class="body-menu-item">
                                    <a href="https://play.google.com/store/apps/details?id=tsb.timely.toga.BetterConfab">Play Store</a>
                                </li>
                            </ul>

                        </div>

                        </div>
                    </div>
                </div>
        </div>
    </div>
    </body>

</html>