{% extends "new_lander.html" %}

{% block scripts %}
    <script src="/js/resume.js"></script>
{% endblock scripts %}

{% block main_outside_container %}
    <div class="intro container">
        <h1>Résumé</h1>
        <h3>Resume's fancier form</h3>
    </div>

    <div class="">
        <div class="timeline">
            <div id="timeline_line"></div>

            <h2 class="year_tag">2017</h2>
            <div class="timeline_entry" data-role="main">
                <div class="timeline_dot"></div>
                <div class="timeline_content_wrapper">
                    <div class="timeline_content">
                        <h2>SWE at CNSPEC</h2>
                        <div class="timeline_entry_description">
                            <h4>Shanghai, China; June 2017 - present</h4>
                            <p>CNSPEC is a company working on some really interesting space-oriented applications for superhighrises in China.
                               We build sophisticated 3D model of the building with BIM data, engineering plans, 3D scans, faculty and staff 
                               etc, and then build business applications utilizing these models. 
                            </p>
                            <p>My responsibilities at CNSPEC have been disparate and involve a huge scope. I have written a lot of 2D and 3D map
                               frontend interfaces for Shanghai Tower (the tallest building in China). I have built and managed webservers, 
                               optimized DB performance, upgraded API endpoints to HTTPS, and a lot more. Most of our work is in private cloud 
                               deployments, so I don't have many links to share. :(
                            </p>
                            <div class="link_box">
                                <ul>
                                    <li><a href="http://www.cnspec.com.cn/">Outdated CNSPEC Homepage</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="timeline_entry" data-role="main">
                <div class="timeline_dot"></div>
                <div class="timeline_content_wrapper">
                    <div class="timeline_content">
                        <h2>Graduated from Duke University</h2>
                        <div class="timeline_entry_description">
                            <h4>May 2017</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="timeline_entry" data-role="main">
                <div class="timeline_dot"></div>
                <div class="timeline_content_wrapper">
                    <div class="timeline_content">
                        <h2>Physically Based Shaders</h2>
                        <div class="timeline_entry_description">
                            <h4>Autodidacted Computer Graphics from Zero to Physically Based Rendering</h4>
                            <h4>Jan - May 2017</h4>
                            <p>The impetus for this project was while I had been programming for a considerable amount of time, 
                               all of my code was written to run on the CPU. I didn't really understand how computer graphics worked
                               and how code written for a GPU was designed or written. So I decided to learn C++ and computer graphics at 
                               the same time! I self-studied C++, OpenGL, general computer graphics theory, and then moved on to Physically 
                               Based Shaders. 
                            </p>
                            <p>After several months of independent studying, I used an open-ended final project as an opportunity to dig 
                            a little deeper on the mathematically theory behind 3D computer graphics as well as modern Disney BSDF PBR methods.
                            </p>
                            <div class="link_box">
                                <ul>
                                    <li><a href="https://drive.google.com/file/d/0B4V8b27yh1SMX3BVOTRMbHFfd00/view?usp=sharing">PBR Presentation</a></li>
                                    <li><a href="https://drive.google.com/open?id=0B4V8b27yh1SMZDVGNVY0bWxvSzg">PBR Paper</a></li>
                                    <li><a href="https://github.com/TimelyToga/tlotk/tree/master/src/engine/graphics">C++ Lighting Demo Repo</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h2 class="year_tag">2016</h2>
            <div class="timeline_entry" data-role="main">
                <div class="timeline_dot"></div>
                <div class="timeline_content_wrapper">
                    <div class="timeline_content">
                        <h2>WTF Dictionary</h2>
                        <div class="timeline_entry_description">
                            <h4>Made a Website for my Angry Searches</h4>
                            <p>I made a website that essentially allows one to enter a search query like "wtf is garbage"
                                and get a quick overview. Currently I pull content in from Wikipedia and display it using the
                                Wikipedia API</p>
                            <div class="link_box">
                                <ul>
                                    <li><a target="_blank" href="https://www.mediawiki.org/wiki/API:Main_page">Wikipedia API</a></li>
                                    <li><a href="https://github.com/TimelyToga/wtf_is">GitHub Repo</a></li>
                                    <li><a href="http://wtf-dict.herokuapp.com/">WTF Dictionary</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="timeline_entry" data-role="main">
                <div class="timeline_dot"></div>
                <div class="timeline_content_wrapper">
                    <div class="timeline_content">
                        <h2>Deep Dive on NYC Taxi Dataset</h2>
                        <div class="timeline_entry_description">
                            <h4>Rumaged around a huge dataset</h4>
                            <p>For my Data-Intensive Computing Systems class, I have been working on a fascinating project involving the NYC Taxi Dataset. I have worked with a partner to explore the data as much as possible and provide interesting visualizations for the data. In order to do this, my partner and I made use of a wide array of technologies including (but not limited to) the below list.</p>
                            <p>Technologies Used: AWS EC2, Spark, Microsoft SQL Server Matlab, LaTeX</p>
                            <div class="link_box">
                                <ul>
                                    <li><a target="_blank" href="https://github.com/TimelyToga/nyc_taxis/blob/master/report/timothy_blumberg_ziyi_wang_midterm_report_FINAL.pdf">PDF Report</a></li>
                                    <li><a target="_blank" href="https://github.com/TimelyToga/nyc_taxis">GitHub Repo</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="timeline_entry" data-role="main">
                <div class="timeline_dot"></div>
                <div class="timeline_content_wrapper">
                    <div class="timeline_content">
                        <h2>Intern at Lyft</h2>
                        <div class="timeline_entry_description">
                            <h4>Automation / Infrastructure Team - Summer 2016</h4>
                            <p>During the summer of 2016, I worked at Lyft HQ in San Francisco, CA. I was a member of the
                            Automation team which owned CI / CD and related infrastructure at Lyft. I worked on an
                            internal tool to help debug common errors and trace a bug to the original code
                            author.</p>
                            <div class="link_box">
                                <ul>
                                    <li><a target="_blank" href="https://www.lyft.com/">Lyft Homepage</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h2 class="year_tag">2015</h2>
            <div class="timeline_entry" data-role="main">
                <div class="timeline_dot"></div>
                <div class="timeline_content_wrapper">
                    <div class="timeline_content">
                        <h2>HackerTyper Clone</h2>
                        <div class="timeline_entry_description">
                            <h4>Created a Clone of the Popular HackerTyper Website - October 2015</h4>
                            <p>I spent a weekend creating a clone of this fun little website. The premise is
                            that you type whatever you like and code is streamed to the screen at an alarming rate.
                            It is supposed to personify all the terrible misconceptions that Hollywood has
                            given people for what hacking actually looks like. Original uses same code every time,
                            while my version randomly generates the code based on code grammars that I wrote.</p>
                            <div class="link_box">
                                <ul>
                                    <li><a target="_blank" href="https://github.com/TimelyToga/hackertyperclone">GitHub</a></li>
                                    <li><a target="_blank" href="http://hackertyperclone.herokuapp.com/">Link</a></li>
                                    <li><a target="_blank" href="https://medium.com/@Tim_Blumberg/how-to-clone-hackertyper-db0a472212f6">Blog Post</a></li>
                                    <li><a target="_blank" href="http://hackertyper.com/">Original</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="timeline_entry" data-role="main">
                <div class="timeline_dot"></div>
                <div class="timeline_content_wrapper">
                    <div class="timeline_content">
                        <h2>Went to China</h2>
                        <div class="timeline_entry_description">
                            <h4>Studying 中文 (Chinese) - Summer 2015</h4>
                            <p>Taking the summer to sharpen my Chinese skills at the at the University of International
                            Business and Economics in Beijing (北京). I am enrolled in Duke's Study In China Program (DSIC),
                            which will count as my 2nd year of Chinese language study.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="timeline_entry" data-role="main">
                <div class="timeline_dot"></div>
                <div class="timeline_content_wrapper">
                    <div class="timeline_content">
                        <h2>Duke Directory Web Scraping</h2>
                        <div class="timeline_entry_description">
                            <h4>Created Omnibus list of Duke Faculty</h4>
                            <p>I was contracted by a friend of mine to create a single list of every Duke faculty member,
                            regardless of department, because surprisingly enough, this did not exist already in an easily
                            accessible way. I used BeautifulSoup4 in Python to scrape the data, and stored it in a csv file.</p>
                            <div class="link_box">
                                <ul>
                                    <li><a href="https://github.com/TimelyToga/duke_dir">DukeDir GitHub</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="timeline_entry" data-role="main">
                <div class="timeline_dot"></div>
                <div class="timeline_content_wrapper">
                    <div class="timeline_content">
                        <h2>Founded Red Crane Prints</h2>
                        <div class="timeline_entry_description">
                            <h4>Started a Fine Art Printing Company</h4>
                            <p>I founded a printing company with the intent to provide new artists with a way to easily
                                break into the realm of selling their art. No need to handle manufacturing or distribution
                                only create beautiful things.</p>
                            <div class="link_box">
                                <ul>
                                    <li class="body-menu-item">
                                        <a href="https://www.etsy.com/shop/RedCranePrints/about">About Page</a>
                                    </li>
                                    <li class="body-menu-item">
                                        <a href="https://www.facebook.com/RedCranePrints">Facebook Page</a>
                                    </li>
                                    <li>
                                        <a href="https://drive.google.com/open?id=0B4V8b27yh1SMYXdyTlUtV2lUQk0">Post-Mortem Doc</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h2 class="year_tag">2014</h2>
            <div class="timeline_entry" data-role="main">
                <div class="timeline_dot"></div>
                <div class="timeline_content_wrapper">
                    <div class="timeline_content">
                        <h2>Using IBM Watson to Discern How My Personality Evolved</h2>
                        <div class="timeline_entry_description">
                            <h4>I analyzed my journal entries using IBM Watson to detect how I evolved</h4>
                            <p>I recently found a demo of IBM Watson's User Modeling and decided to see if I could harness
                                this tech demo to analyze my own personality. I have kept a digital journal since 2011, so
                                I had a large amount of data available to analyze, so I extracted the text of journal entries
                                by year and submitted them to the analytical eye of Watson. I wrote a pretty detailed blog post
                                about my process and results. Most interestingly, I found that as I developed into an adult,
                                I didn't develop new characteristics really. But rather, I pruned out certain characteristics
                                and marginally advanced others. So my strongest traits became stronger and I completely deleted
                                certain other traits out of my personality all together. Overall this was one of the most informative
                                technical investigations I have ever done because it taught me a lot about myself.</p>
                            <div class="link_box">
                                <ul>
                                    <li class="body-menu-item">
                                        <a href="https://medium.com/@Tim_Blumberg/how-i-used-ibm-watson-to-analyze-my-journal-entries-to-learn-how-my-personality-evolved-3d944a4b856d">Blog Post</a><br>
                                    </li>
                                    <li class="body-menu-item">
                                        <a href="http://watson-um-demo.mybluemix.net/">IBM Watson Demo</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="timeline_entry" data-role="main">
                <div class="timeline_dot"></div>
                <div class="timeline_content_wrapper">
                    <div class="timeline_content">
                        <h2>WikiQuiz</h2>
                        <div class="timeline_entry_description">
                            <h4>Automatically generate quizzes from Wikipedia Articles</h4>
                            <p> WikiQuiz was my entry into <a href="http://www.hackduke.com/">HackDuke's</a> 2014 Education
                                category. WikiQuiz is the embodiment of a very long running project of mine to figure out
                                how to extract the most salient objective facts from a corpus of text. In this case I do so
                                by a combination of a number of methods chief of which is some basic NLP feature extraction
                                using nltk. I believe that if the process of extracting the important and objective thoughts
                                from a body of text is one of greatest challenges that technology is facing today.
                                I began development at HackDuke and have since been making modifications to better the
                                question generation.</p>
                            <div class="link_box">
                                <ul>
                                    <li class="body-menu-item">
                                        <a href="http://wikiquiz.herokuapp.com/">WikiQuiz</a><br>
                                    </li>
                                    <li class="body-menu-item">
                                        <a href="http://wikiquiz.herokuapp.com/w/Louis_XIV_of_France">Louis XIV WikiQuiz</a>
                                    </li>
                                    <li class="body-menu-item">
                                        <a href="https://medium.com/@Tim_Blumberg/some-things-i-have-learned-making-an-app-to-teach-ca6560843fa8">Relevant Blog Post</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="timeline_entry" data-role="main">
                <div class="timeline_dot"></div>
                <div class="timeline_content_wrapper">
                    <div class="timeline_content">
                        <h2>LearnThings</h2>
                        <div class="timeline_entry_description">
                            <h4>An app that quietly teaches you</h4>
                            <p>LearnThings is a studying app built for procrastinators.
                                Instead of cramming for a single continuous chunk of time before an exam, one could use LearnThings
                                to space that studying time out over several weeks. LearnThings uses notifications to
                                passively ask you questions, which you can directly interact with, or tap through
                                to grade yourself. LearnThings is at most two taps
                                per interaction, so the experience is left light. You can tell LearnThings when you are
                                available so that you will only get asked questions within that time frame.
                            </p></p>
                            <div class="link_box">
                                <ul>
                                    <li class="body-menu-item">
                                        <a href="https://play.google.com/store/apps/details?id=com.timothyblumberg.autodidacticism.learnthings">Play Store</a><br>
                                    </li>
                                    <li class="body-menu-item">
                                        <a href="https://medium.com/@Tim_Blumberg/some-things-i-have-learned-making-an-app-to-teach-ca6560843fa8">Blog Post</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="timeline_entry" data-role="main">
                <div class="timeline_dot"></div>
                <div class="timeline_content_wrapper">
                    <div class="timeline_content">
                        <h2>Camoji</h2>
                        <div class="timeline_entry_description">
                            <h4>Create and Share reaction gifs easily - Summer 2014</h4>
                            <p>Camoji is a content creation tool that allows you to record gifs and easily send or
                                share them with friends. Camoji relies heavily upon gestures for app navigation. Swiping
                                in each cardinal direction performs an action (Share, Delete, Back to Camera, Send). I
                                specifically worked on the web-server.</p>
                            <div class="link_box">
                                <ul>
                                    <li class="body-menu-item">
                                    <a href="https://itunes.apple.com/us/app/camoji-gif-camera/id905080931?mt=8">App Store</a><br>
                                </li>
                                <li class="body-menu-item">
                                    <a href="https://github.com/TimelyToga">Github</a><br>
                                </li>
                                <li class="body-menu-item">
                                    <a href="https://camoji.com/c/BddcTNqYzPGtrmf">Example Camoji</a>
                                </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="timeline_entry" data-role="main">
                <div class="timeline_dot"></div>
                <div class="timeline_content_wrapper">
                    <div class="timeline_content">
                        <h2>Intern at Leo / Camoji</h2>
                        <div class="timeline_entry_description">
                            <h4>I was an Android Engineer and Server Engineer and iOS Engineer (intern) - Spring 2014 - Fall 2014</h4>
                            <p> I began working as a part-time Android contract programmer during
                                school, and came on board full time for the summer. During this summer I decided to become
                                an entrepreneur.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="timeline_entry" data-role="main">
                <div class="timeline_dot"></div>
                <div class="timeline_content_wrapper">
                    <div class="timeline_content">
                        <h2>Fratspeak</h2>
                        <div class="timeline_entry_description">
                            <h4>Generate random sentences in the style of Fratboys</h4>
                            <p> Fratspeak is a project that I threw together with a couple friends over a weekend that
                                uses some boring technology to generate sentences "in the style" of fratstars. For the
                                most part, these sentences entirely lack any inkling of orthology or general sentence syntax.</p>
                            <div class="link_box">
                                <ul>
                                    <li class="body-menu-item">
                                        <a href="http://fratspeak.herokuapp.com/">Fratspeak</a><br>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <h2 class="year_tag">2013</h2>
            <div class="timeline_entry" data-role="main">
                <div class="timeline_dot"></div>
                <div class="timeline_content_wrapper">
                    <div class="timeline_content">
                        <h2>BetterConfab</h2>
                        <div class="timeline_entry_description">
                            <h4>Android App to stimulate better conversations with strangers</h4>
                            <p> I wrote this app because I abhor small talk. I hate to waste time with conversation
                                topics in which I have very little chance of gleaning any information of worth from because
                                they lack the complexity to imbue it. BetterConfab is meant to be a tool with which you
                                can unlock more interesting conversation with people you don't know...yet.</p>
                            <div class="link_box">
                                <ul>
                                    <li class="body-menu-item">
                                        <a href="https://play.google.com/store/apps/details?id=tsb.timely.toga.BetterConfab">Play Store</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div id="page_closer">
        <h2>Check out my <a href="/skills">Skills</a>!</h2>
    </div>
{% endblock %}
